.concierto {
  color: var(--text);
}

.concierto h1 span {
  padding-left: 10px;
  font-size: 60%;
  color: var(--muted)
}

.concierto h2 {
  white-space: nowrap;
  letter-spacing: 0;
}

.entrada a {
  font-weight: bold;
  border: 1px solid #6D363E;
  background: #442226;
}

.entrada a:hover {
  border: 1px solid #6D363E;
  background: #6D363E;
}